.fa-star {
    color: #ccc;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 200ms ease-in-out;
  }
  .fa-star.checked {
    color: #ffc107;
  }

  .dog-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }